<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/homestyle.css" />
</head>
<body>
  <container id="nav">
    <nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-primary">
      <div>
        <div class="navbar-nav">
          <li class="navLi">
            <a class="nav-link active" href="/home">Home</a>
          </li>
          <a class="nav-link active" aria-current="page" href="/heroes/new">Search for Heroes</a>
          <li class="navLi">
            <a class="nav-link active" href="/heroes">My Cards</a>
          </li>
          <li class="navLi">
            <a class="nav-link active" href="/users/profile">My Profile</a>
          </li>
          <li class="navLi">
            <a class="nav-link active" href="/users">Online Now!</a>
          </li>
          <li class="navLi">
          <a class="nav-link active navbar-right" href="/auth/logout">Log Out</a>
          </li>
        </div>
      </div>
    </nav>
  </container>
  <container id="messageboard">
    <div id="messageheader">
      <h3>Tell us about your favorite Hero!</h3>
    </div>
    <form action="/home" method=POST>
      <div id="postcard" class="card" style="width: 10rem;"></div>
        <div class="card-body text-dark bg-light mb-3">
          <input type="text" name="content" placeholder="...">
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>    
    </form>
    <% if (messages.length === 0) { %>
      <h5><%= "No messages yet" %> </h5> 
    <% } else { %> 
      <% messages.forEach((message) => { %>
        <form action="/home/<%=message._id%>?_method=DELETE" method="POST">
          <div class="card" id="messagecard">
            <div class="card-header">
              <%= message.postedBy %> <img id="avatarPhoto" width="30" src="<%= message.avatar %>" alt="">
            </div>
            <div class="card-body">
              <h6 class="card-title" id="messagecontent"><%= message.content %></h6>
              <p><%= message.createdAt.toLocaleString()%></p>
              <button type="submit" class="btn btn-primary">Delete</button>
            </div>
          </div>
        </form>
      <% }) %>  
    <% } %>

  </container>
  <container id="heroNews">
    <div>
      <h3>This is where site updates and rankings will populate!</h3>
    </div>
  </container>