<%- include("../partials/header") %>

<% heroes.forEach((h) => { %>
   <form action="/heroes/<%=h.id%>?_method=DELETE" method="POST">
        <img src="<%= h.imageUrl %>">
        <a href=/heroes/<%= h.id%>>See Details for <%= h.name %></a>
        <button type="submit" class="btn-btn-warning">Remove from team</button>
    </form> 
<% }) %>



<%- include("../partials/footer") %>