<%- include("../partials/header") %>

<% heroes.forEach((hero) => { %>
   <form action="/heroes/<%=hero.id%>?_method=DELETE" method="POST">
        <img src="<%= hero.imageUrl %>">
        <a href=/heroes/<%=hero.apiId%>>See Details for <%= hero.name %></a>
        <button type="submit" class="btn-btn-warning">Remove from team</button>
    </form> 
<% }) %>



<%- include("../partials/footer") %>