<%- include("../partials/header") %>

<h4>Search for a Hero to add to your team</h4>
<form action="/heroes/search" method="POST">
    <div class="form-row">
        <div class="col-md-6">
            <input type="text" name="query" placeholder="Type Hero Name">
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form>

<% if(results) { %>
    <% results.forEach(hero => { %>
        <div class="card border-primary mb-3" style="width: 20rem;">
            <img src="<%=hero.image.url%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= hero.name%></h5>
            </div>
            <h6>Stats</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Intelligence: <%=hero.powerstats.intelligence%></li>
                <li class="list-group-item">Strength: <%=hero.powerstats.strength%></li>
                <li class="list-group-item">Combat: <%=hero.powerstats.combat%></li>
            </ul>
            <div class="card-body">
                <a href="/heroes/<%=hero.id%>" class="card-link">Details</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    <% }) %>
<% } %>

<%- include("../partials/footer") %>

