<%- include("../partials/header") %>

<h4>Search for a Hero to add to your team</h4>
<br>
<p>Note: You may have to add a hyphen in some searches</p>

<form action="/heroes/search" method="POST">
    <div class="form-row">
        <div class="col-md-6">
            <input type="text" name="query" placeholder="Type Hero Name">
        </div>
    </div>
    <button id="searchbutton" type="submit" class="btn btn-primary">Search</button>
</form>

<% if(results) { %>
    <% results.forEach(hero => { %>
        <div class="card border-primary mb-3" style="width: 20rem;">
            <img src="<%=hero.image.url%>" class="card-img-top" alt="...">
            <div class="card-stock">
                <h5 class="card-title"><%= hero.name%></h5>
            </div>
                <h5 class="hero-S-identity"> Identity: <%=hero.biography["full-name"]%></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Occupation: <%=hero.work.occupation%></li>
                <li class="list-group-item">Alignment: <%=hero.biography.alignment%></li>
            </ul>
            <div class="card-stock">
                <a href="/heroes/<%=hero.id%>" class="btn btn-primary">Details</a>
                <br>
                <br>
                <form action="/heroes" method="POST">
                    <input type="text" hidden name="name" value="<%= hero.name %>">
                    <input type="text" hidden name="imageUrl" value="<%=hero.image.url%>">
                    <input type="text" hidden name="apiId" value="<%=hero.id%>">
                    <input class="btn btn-primary form-inline" type="submit" value="Add to Team">
                </form>
            </div>
        </div>
    <% }) %>
<% } %>



<%- include("../partials/footer") %>

