<%- include("../partials/header")%>

<h3><%=hero.name%> Details </h3>

<img src="<%=hero.image.url%>" alt="..." height=400px>
<div class="card-group" class="border border-info">
    <div class="card" >
        <ul>
            <p>Stats</p>
            <li>Intelligence: <%=hero.powerstats.intelligence%></li>
            <li>Strength: <%=hero.powerstats.strength%></li>
            <li>Speed: <%=hero.powerstats.speed%> </li>
            <li>Power: <%=hero.powerstats.power%> </li>
            <li>Combat: <%=hero.powerstats.combat%> </li>
        </ul>
    </div>
    <div class="card">
        <p>Publisher: <%=hero.biography["publisher"] %> </p>
        <p>First Appeared: <%= hero.biography["first-appearance"]%> </p>
        <p>Affiliations: <%=hero.connections["group-affiliation"]%></p>
    </div>
    <div class="card" name="ratings">
        <a>Ratings</a>
        <form action="/heroes/<%=hero.id%>/ratings" method="POST">
            <input type="text" name="content" placeholder="Why do you like this hero?">
            <input type="number" min="1" max="10" name="rating">
            <br>
            <button type="submit">Add a rating</button>
        </form>
    </div>
  </div>
<form action="/heroes" method="POST">
    <input type="text" hidden name="name" value="<%= hero.name %>">
    <input type="text" hidden name="imageUrl" value="<%=hero.image.url%>">
    <input type="text" hidden name="apiId" value="<%=hero.id%>">
    <button type="submit"> "Add to Team"</button>
</form>


<%- include("../partials/footer")%>



